* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}


button,
input {
    outline: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

/* tag for use icon */
i {
    background-position: center;
    background-size: 100%;
    display: inline-block;
    font-style: normal;
    height: 24px;
    line-height: 1;
    vertical-align: middle;
    width: 24px;
}

.icon-hash:before {
    content: '#';
    font-size: 24px;
}
